<!doctype HTML>
<html>
    <head>
        <style>
            h1{
                background-color: blue;
                text-align: center;
                color: white;
            }
            .article{
                text-align: center;
                width: 300px;
                border: 5px solid blue;
                border-radius: 20px;
                padding : 0 20px 20px 20px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        {% for item in items %}
        <h1> {{ item.cID }}</h1> <br>
        {% for item in items %}
            {{ item.VAHName }} <br>
        {% endfor %}
        {% endfor %}
    </body>
</html>