<!doctype HTML>
<html>
    <head>
        <style>
            h1{
                background-color: blue;
                text-align: center;
                color: white;
            }
            .article{
                text-align: center;
                width: 300px;
                border: 5px solid blue;
                border-radius: 20px;
                padding : 0 20px 20px 20px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <form method='POST'>
        {% for item in items %}
            {{ item.cName }} : {{ item.VAHName }}, D-{{item.DeadLine}},{{item.Decision}} <input type='submit'name="{{item.VAHName}}" value="done"> <br>
        {% endfor %}
    </form>
    </body>

</html>