<!DOCTYPE html> 
<html>
    <head>
        <style>
            h1{
                background-color: blue;
                text-align: center;
                color: white;
            }
            
            .article{
                text-align: center;
                width: 300px;
                border: 5px solid blue;
                border-radius: 20px;
                padding : 0 20px 20px 20px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        {%if True%}
        <h1><img src="{{'images/INU.png'}}" height="40" alt="My image">INU TODO LIST</h1>
        {%endif%}
        <div class='article'>
            <form action='/login/check' method='POST'> 
                <br/>
                <label>ID</label>
                <input id='sID' type='text' name='sID'/> <br/>
                <label>PW</label>
                <input id='PW' type='password' name='PW'/> <br/>
                <input type='submit' value="login">
            </form>
         </div>
    
    </body>
</html>